html{
    background-color:rgb(27, 32, 51);
}
header{
    background: rgb(173, 46, 173);
    color:#fff;
    text-align: center;
}
.menu a{
    text-decoration: none;
    list-style: none;
    color:#fff;
}
.butons{
    text-decoration: none;
    list-style: none;
    color:#fff; 
}
header .menu{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
 font-size: 2rem;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-left: 1rem;
}
header nav ul li{
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
}
header nav ul li{
    text-decoration: none;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-left: 100px;
    padding-right: 100px;
}
.butons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-left: 100px;
    padding-right: 100px;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding-left: 100px;
    padding-right: 100px;
    h2{
        color: rgb(57, 194, 212);
    }
  }
.caja{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajaa{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja1{
    background-color:  rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja2{
    background-color: rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja3{
    background-color: rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}

.cajab{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajac{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajad{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajae{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja4{
    background-color:  rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja5{
    background-color:rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.caja6{
    background-color:rgb(173, 46, 173);
    border: 8px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
main .caja1 .caja2 .caja3 .caja4 .caja5 .caja6{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main nav ul{
    list-style: none;
    display: flex;
}
main nav ul li{
    margin-left: 1rem;
}
main nav ul li{
    color:rgb(27, 32, 51);
    text-decoration: none; 
    font-weight: bold;
}
main nav ul li a:hover{
    text-decoration: underline;
}

footer{
    height: 40px;
    background-color:rgb(43, 137, 150);
    h3{
        text-align: center;
    } 
}