html{
    background-color:rgb(27, 32, 51);
}
header{
    h1{
        color: rgb(216, 37, 216);;
        text-align: center;
    } 
}
.caja{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajaa{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajab{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajac{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajad{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajae{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}
.cajaf{
    background-image: url(https://cdn.wallpapersafari.com/7/32/Iuhdv6.png);
    border: 3px  rgb(12, 65, 57);
    border-radius: 5px;
    text-align: center;
}